
<!--{{#each whichProject}}-->
<div class="project-item">
        <div class="project-item__wrapper">
            <!--DROP DOWN ICON-->
            <div  id="" data-value={{this.id}}
                 class="project-item__icon"
                 onclick="handleClickDropDown(this.id)"
            >
                <i class="fas fa-angle-down faded-cyan"></i>
            </div>
            <!--INITIAL TEXT DEFAULT SHOWN-->
            <div class="project-item__content">
                <h3>{{this.header}}</h3>

                <p>
                    {{this.descrip}}
                </p>
            </div>
        </div>
        <!--INITIAL ==== HIDE  && OnIconClick === SHOW CONTENT-->
        <!--THIS IS A FLEX CONTAINER-->
        <div class="project-item__show">
            <div class="project-item__container">
                <div class="project-item__container__img-wrapper">
                    <!--see index.js for "function insertProjectPic()"-->
                    <img class="project-pic" data-value ={{this.image}} src="" alt="" />
                </div>

                <div class="project-item__container__text">
                    <svg
                            fill="white"
                            height="100px"
                            viewBox="0 -25 512.00073 512"
                            width="100px"
                            xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                                d="m510.527344 447.191406-54.53125-88.195312v-231.097656c0-5.574219-4.519532-10.09375-10.09375-10.09375h-74.855469v-107.710938c0-5.574219-4.519531-10.09375-10.09375-10.09375h-203.847656c-5.574219 0-10.09375 4.519531-10.09375 10.09375v107.710938h-78.992188c-5.574219 0-10.09375 4.519531-10.09375 10.09375v231.019531l-56.375 88.144531c-4.222656 6.605469.691407 15.535156 8.503907 15.535156h31.78125c5.574218 0 10.09375-4.519531 10.09375-10.09375 0-5.574218-4.519532-10.09375-10.09375-10.09375h-13.34375l45.054687-70.445312h19.992187l-21.039062 41.949218c-3.308594 6.601563 1.660156 14.617188 9.023438 14.617188h350.769531c7.382812 0 12.351562-8.054688 9.003906-14.660156l-21.257813-41.90625h20.238282l43.558594 70.445312h-362.257813c-5.574219 0-10.09375 4.519532-10.09375 10.09375 0 5.574219 4.519531 10.09375 10.09375 10.09375h380.363281c7.746094 0 12.675782-8.796875 8.585938-15.40625zm-343.328125-427.003906h183.660156v105.257812h-61.300781c-5.347656 0-11.425782 2.738282-14.082032 7.578126l-16.003906 29.121093-17.136718-29.464843c-2.695313-4.644532-8.632813-7.234376-13.835938-7.234376h-61.300781zm78.511719 158.457031c2.734374 4.710938 8.785156 7.300781 14.058593 7.234375 5.277344-.070312 11.234375-2.808594 13.859375-7.578125l2.863282-5.210937h123.191406v143.589844h-285.449219v-143.589844h128.246094zm170.144531 229.699219h-317.976563l18.242188-36.378906h281.28125zm-12.253907-56.570312h-325.488281v-213.78125h69.210938c1.097656 4.386718 5.054687 7.640624 9.78125 7.640624h69.410156l4.226563 7.269532h-126.601563c-5.574219 0-10.09375 4.515625-10.09375 10.09375v163.777344c0 5.574218 4.519531 10.09375 10.09375 10.09375h305.640625c5.570312 0 10.09375-4.519532 10.09375-10.09375v-163.777344c0-5.578125-4.523438-10.09375-10.09375-10.09375h-122.191406l3.992187-7.269532h69.371094c4.726563 0 8.683594-3.253906 9.78125-7.640624h65.074219v213.78125zm0 0"
                        />
                        <path
                                d="m128.976562 399.238281h17.144532c5.574218 0 10.09375-4.519531 10.09375-10.09375s-4.519532-10.09375-10.09375-10.09375h-17.144532c-5.574218 0-10.09375 4.519531-10.09375 10.09375s4.519532 10.09375 10.09375 10.09375zm0 0"
                        />
                        <path
                                d="m176.757812 399.238281h17.140626c5.574218 0 10.09375-4.519531 10.09375-10.09375s-4.519532-10.09375-10.09375-10.09375h-17.140626c-5.574218 0-10.097656 4.519531-10.097656 10.09375s4.523438 10.09375 10.097656 10.09375zm0 0"
                        />
                        <path
                                d="m224.535156 399.238281h17.144532c5.574218 0 10.09375-4.519531 10.09375-10.09375s-4.519532-10.09375-10.09375-10.09375h-17.144532c-5.574218 0-10.09375 4.519531-10.09375 10.09375s4.519532 10.09375 10.09375 10.09375zm0 0"
                        />
                        <path
                                d="m272.3125 399.238281h17.144531c5.574219 0 10.09375-4.519531 10.09375-10.09375s-4.519531-10.09375-10.09375-10.09375h-17.144531c-5.574219 0-10.09375 4.519531-10.09375 10.09375s4.519531 10.09375 10.09375 10.09375zm0 0"
                        />
                        <path
                                d="m320.09375 399.238281h17.140625c5.574219 0 10.097656-4.519531 10.097656-10.09375s-4.523437-10.09375-10.097656-10.09375h-17.140625c-5.574219 0-10.09375 4.519531-10.09375 10.09375s4.519531 10.09375 10.09375 10.09375zm0 0"
                        />
                        <path
                                d="m367.871094 399.238281h17.144531c5.574219 0 10.09375-4.519531 10.09375-10.09375s-4.519531-10.09375-10.09375-10.09375h-17.144531c-5.574219 0-10.09375 4.519531-10.09375 10.09375s4.519531 10.09375 10.09375 10.09375zm0 0"
                        />
                        <path
                                d="m81.203125 442.410156c-4.21875 0-8.0625 2.71875-9.492187 6.675782-1.429688 3.953124-.1875 8.519531 3.058593 11.195312 3.253907 2.679688 7.933594 3.046875 11.566407.90625 3.621093-2.132812 5.574218-6.445312 4.777343-10.578125-.902343-4.695313-5.121093-8.199219-9.910156-8.199219zm0 0"
                        />
                        <path
                                d="m186.636719 300.066406h140.644531c5.574219 0 10.09375-4.519531 10.09375-10.097656v-90.171875c0-5.457031-4.628906-10.09375-10.09375-10.09375h-140.644531c-5.460938 0-10.09375 4.636719-10.09375 10.09375v90.171875c0 5.578125 4.519531 10.097656 10.09375 10.097656zm10.09375-20.191406v-61.617188l54.78125 35.121094c3.285156 2.109375 7.609375 2.109375 10.898437 0l54.777344-35.121094v61.617188zm96.105469-69.984375-35.875 23.003906-35.878907-23.003906zm0 0"
                        />
                    </svg>
                    <h1 >Features</h1>
                    <ul >
                       {{#each this.featureList}}
                           <li>{{this}}</li>
                       {{/each}}
                    </ul>
                    <p>
                        {{this.context}}
                    </p>
                    <a class="project-url"  data-value={{this.url}} href="" target="_blank">
                        <input class="button" type="button" value="Visit" />
                    </a>
                </div>
            </div>
        </div>
    </div>
<!--{{/each}}-->