<div id="nav-tab">
    navigation
</div>
<div id="main">
    <div class="acba">
        <h1 class="acba__heading">ACBA</h1>
        <h3 class="acba__sub-heading">Articulate Comic Book Art</h3>

            <div class="acba__hero">
            {{#each acba_hero_banner}}
                <div class="acba__hero__tile {{bg_color}}">
                    <img class="acba-hero-image" data-value="{{image_source}}" src="" alt=""/>
                </div>
            {{/each}}
            </div>

        <div class="acba__info">
            <h1 style="font-size: 3rem">{{acba_hero_context.header}}</h1>
            <h4 style="font-size: 2rem">{{acba_hero_context.sub_header}}</h4>
            <div class="acba__info__text">
                <p style="font-size: 1.4rem">
                    {{acba_hero_context.text_01}}
                </p>
                <br /><br />
                <p style="font-size: 1.4rem">
                    {{acba_hero_context.text_02}}
                </p>
                <blockquote>
                    <span>. . .</span>
                        {{acba_hero_context.quote}}
                    <span>. . .</span>
                    <br />
                    <cite>-{{acba_hero_context.citation}}</cite>
                </blockquote>
                <br />
            </div>
        </div>

        <h1 class="acba__heading center">{{acba_card_context.header}}</h1>
        <h3 class="acba__sub-heading center">{{acba_card_context.sub_header}}</h3>

        <p style="font-size: 1.4rem; color: white; font-family: Alcubierre; display: inline-block; width: 100%; max-width: 860px ">
           {{acba_card_context.text}}
        </p>

        <!------------  ACBA TRIPLE CARDS : Contributors------------>
        {{> card-container-triple whichCards=acba_cards}}

        <!------------  FIGURES HORIZONTAL CARDS SECTION------------>
        <h1 style="font-size: 3rem; color: white; font-family: 'Dolce Vita'; text-align: initial; left: 6rem; position: relative">Behind the Camera</h1>
        {{> card-horizontal whichList=figures}}


    </div>
    {{> footer whichData=navigation}}
</div>

<script src="../src/scripts/global.js/consts.js"></script>
<script src="../src/scripts/navigation/header-navigation.js"></script>
<script src="../src/scripts/navigation/tab-drop-navbar.js"></script>
<script src="../src/scripts/acba.js"></script>